@import "tailwindcss";

@font-face {
  font-family: "photobooth-text";
  src: url("./assets/fonts/LobsterTwo-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "photobooth-text-bold";
  src: url("./assets/fonts/LobsterTwo-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "photobooth-text-italic";
  src: url("./assets/fonts/LobsterTwo-BoldItalic.ttf") format("opentype");
}

@font-face {
  font-family: "photobooth-text-bold-italic";
  src: url("./assets/fonts/LobsterTwo-Italic.ttf") format("opentype");
}

.photobooth-text {
  font-family: "photobooth-text", cursive;
}

.photobooth-text-bold {
  font-family: "photobooth-text-bold", cursive;
}

.photobooth-text-italic {
  font-family: "photobooth-text-italic", cursive;
}

.photobooth-text-bold-italic {
  font-family: "photobooth-text-bold-italic", cursive;
}

/* Add Tailwind utility classes for custom fonts */
@layer utilities {
  .font-custom-1 {
    font-family: "Custom-1", serif;
  }
  .font-custom-2 {
    font-family: "Custom-2", cursive;
  }
  .font-aesthetic-1 {
    font-family: "Playfair Display", serif;
  }
  .font-aesthetic-2 {
    font-family: "Lobster", cursive;
  }
  .font-aesthetic-3 {
    font-family: "Raleway", sans-serif;
  }
  .font-aesthetic-4 {
    font-family: "Dancing Script", cursive;
  }
  .font-aesthetic-5 {
    font-family: "Merriweather", serif;
  }
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 20s ease infinite;
}


